body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #e61b1b;
    color: white;
    padding: 1em 0;
}

main {
    padding: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 0.5em 0 0.2em;
}

input {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 0.5em 2em;
    background-color: #e61b1b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e61b1b;
}